apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--caddy"
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
    ai-services.io/component: "proxy"
    {{- if and .Values.caddy.sslCertContent .Values.caddy.sslKeyContent }}
    ai-services.io/secret: "catalog-caddy-cert-secret"
    ai-services.io/secret-skip-cleanup: "true"
    {{- end }}
    ai-services.io/volume: "caddy-catalog,catalog-caddy-cert-secret"
    ai-services.io/volume-skip-cleanup: "true"
  annotations:
    ai-services.io/ports: "127.0.0.1:{{ .Values.caddy.adminPort }}:2019, {{ .Values.caddy.httpsPort }}:443"
spec:
  restartPolicy: always
  initContainers:
    - name: generate-caddyfile
      image: "{{ .Values.caddy.image }}"
      imagePullPolicy: IfNotPresent
      command:
        - "sh"
        - "-c"
        - |
          cat << 'EOF' > /data/caddy/Caddyfile
          {{- if .Values.caddy.caddyFileContent }}
{{ .Values.caddy.caddyFileContent }}
          {{- else }}
          # No Caddyfile
          {{- end }}
          EOF
      volumeMounts:
        - name: caddy-data
          mountPath: /data:z
  containers:
    - name: caddy
      image: "{{ .Values.caddy.image }}"
      imagePullPolicy: IfNotPresent
      args: ["caddy", "run", "--config", "/data/caddy/Caddyfile", "--resume"]
      env:
        - name: CADDY_ADMIN
          value: "0.0.0.0:2019"
      volumeMounts:
        - name: caddy-data
          mountPath: /data:z
        - name: caddy-data
          mountPath: /config:z
        {{- if and .Values.caddy.sslCertContent .Values.caddy.sslKeyContent }}
        - name: caddy-certs
          mountPath: /etc/secret/ssl
          readOnly: true
        {{- end }}
      resources:
        requests:
          memory: "512Mi"
        limits:
          memory: "512Mi"
      livenessProbe:
        httpGet:
          path: /health
          port: 8080
          scheme: HTTP
        initialDelaySeconds: 5
        periodSeconds: 10
        timeoutSeconds: 5
        failureThreshold: 3
  volumes:
    - name: caddy-data
      persistentVolumeClaim:
        claimName: "caddy-catalog"
    {{- if and .Values.caddy.sslCertContent .Values.caddy.sslKeyContent }}
    - name: caddy-certs
      secret:
        secretName: catalog-caddy-cert-secret
    {{- end }}
