@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;

.modalBody {
  display: flex;
  flex-direction: column;
  gap: $spacing-05;
}

.description {
  @include type-style("body-long-01");
  color: $text-primary;
  margin: 0;
}

.runLabel {
  @include type-style("label-01");
  color: $text-secondary;
  margin: 0;
}
