apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--worker"
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
    ai-services.io/component: "worker"
    ai-services.io/secret: "podman-auth-secret,worker-mtls-encryption-secret"
    ai-services.io/secret-skip-cleanup: "true"
    ai-services.io/volume: "podman-auth-secret,worker-mtls-encryption-secret,worker-tls"
    ai-services.io/volume-skip-cleanup: "true"
  annotations:
    run.oci.keep_original_groups: "1"
spec:
  restartPolicy: always
  {{- if .Values.hostAliases }}
  hostAliases:
  {{- range .Values.hostAliases }}
  - ip: "{{ .IP }}"
    hostnames:
    {{- range .Hostnames }}
      - "{{ . }}"
    {{- end }}
  {{- end }}
  {{- end }}
  containers:
    - name: worker
      image: "{{ .Values.worker.image }}"
      securityContext:
        seLinuxOptions:
          {{- if eq .Values.worker.podman.uri "/run/podman/podman.sock" }}
          type: ai_services_root.process
          {{- else }}
          type: ai_services_nonroot.process
          {{- end }}
      command: ["/bin/sh", "-c"]
      args:
        - |
          export MTLS_ENCRYPTION_KEY=$(cat /etc/secret/worker-mtls-encryption-secret/mtls-encryption-key)
          exec /usr/bin/ai-services worker grpcstream {{ .Values.worker.gatewayAddr }} --token={{ .Values.worker.token }} --runtime={{ .Values.worker.runtime }}
      env:
        - name: AI_SERVICES_LOG_LEVEL
          value: "info"
        - name: AI_SERVICES_LOG_FORMAT
          value: "service"
        - name: CONTAINER_HOST
          value: "unix://{{ .Values.worker.podman.uri }}"
        - name: REGISTRY_AUTH_FILE
          value: "/run/containers/auth.json"
        - name: AI_SERVICES_BASE_DIR
          value: "{{ .BaseDir }}"
        - name: CADDY_ADMIN_URL
          value: "{{ .CaddyAdminURL }}"
        - name: CADDY_HTTPS_PORT
          value: "{{ .Values.caddy.httpsPort }}"
        - name: DOMAIN_SUFFIX
          value: "{{ .DomainSuffix }}"
        - name: GATEWAY_ADDR
          value: "{{ .Values.worker.gatewayAddr }}"
      volumeMounts:
        - name: podman-socket
          mountPath: {{ .Values.worker.podman.uri }}
        - name: podman-auth
          mountPath: /run/containers/auth.json
          subPath: auth.json
          readOnly: true
        - name: iommu-groups
          mountPath: /sys/kernel/iommu_groups
          readOnly: true
        - name: worker-mtls-encryption-secret
          mountPath: /etc/secret/worker-mtls-encryption-secret
          readOnly: true
        - name: worker-tls
          mountPath: /data/worker-tls
        - name: ai-services-data
          mountPath: {{ .BaseDir }}
      resources:
        requests:
          podman.io/device=/dev/vfio: 4
          memory: "1Gi"
        limits:
          memory: "1Gi"
  volumes:
    - name: podman-socket
      hostPath:
        # For rootless podman: /run/user/$(id -u)/podman/podman.sock
        # For root podman: /run/podman/podman.sock
        path: {{ .Values.worker.podman.uri }}
        type: Socket
    - name: podman-auth
      secret:
        secretName: podman-auth-secret
    - name: iommu-groups
      hostPath:
        path: /sys/kernel/iommu_groups
        type: Directory
    - name: worker-mtls-encryption-secret
      secret:
        secretName: worker-mtls-encryption-secret
    - name: worker-tls
      persistentVolumeClaim:
        claimName: worker-tls
    - name: ai-services-data
      hostPath:
        path: {{ .BaseDir }}
        type: DirectoryOrCreate
